#appMount {
    display: grid;
    grid-template-columns: 250px 1fr;
    padding: 0;
    min-height: 100px;
}

.controls-wrapper {
    display: flex;
    gap: 2rem;
    border-top: 1px solid var(--bs-border-color);
    padding: 0.25rem 2rem;
    height: 45px;
}

#main-options {
    padding: 0 20%
}

#main-close {
    display: none;
    margin: 1rem 0.5rem;
}

@media screen and (max-width: 700px) {
    #list-view > div {
        padding-left: 0!important;
        padding-right: 0!important;
    }
}

@media screen and (max-width: 550px) {
    #appMount {
        grid-template-columns: 1fr;
    }

    #sidebar {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 1;
        transition: transform 0.15s ease-in-out;
        transform: translateX(0)
    }

    #sidebar.hidden {
        transform: translateX(-100%);
    }

    #main-close {
        display: block;
    }

    .list-group-item-action.active:not(:hover) {
        background-color: var(--bs-btn-bg)!important;
    }
}

@media screen and (max-width: 400px) { 
    /* dynamic list options */
}

.checklist-item {
    width: 100%;
    padding: 0.5rem 1rem;
    margin-bottom: 0.25rem;
    border-radius: var(--bs-border-radius);
    background-color: rgb(var(--bs-body-bg-rgb));
    list-style: none;
}

.checklist-item:has(+ .editing) {
    margin-bottom: 1.75rem;
}

.checklist-item.editing {
    margin-bottom: 1.75rem;
    padding: 1.5rem 1rem;
    animation: scale-up 0.3s ease;
}

@keyframes scale-up {
    0% { transform: scale(0.9) }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

[contenteditable][data-placeholder]:empty:before {
    content: attr(data-placeholder);
    color: rgb(var(--bs-secondary-rgb));
    pointer-events: none;
    display: block;
}