:root {
    --bs-tertiary-bg-rgb: 245, 246, 248;
    --bs-secondary-color: rgba(0, 0, 0, 1);

    --bs-tertiary-color: #929497;

    --btn-bg-active: #dfe2e7;
    --bs-link-color: #000;
    --bs-link-hover-color: #777;

    --bs-border-radius: 0.5rem;
    --bs-modal-border-radius: 0.5rem;

    --transition-time: 0.24s;
}

html, body, #appMount {
    height: 100%;
    min-height: 100%;
    min-width: 100%;
}

#appMount {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0.5rem 0;
}

* {
    user-select: none;
}

*:focus {
    box-shadow: none !important;
    border-color: var(--bs-border-color) !important; 
    outline: none !important;
}

a {
    text-decoration: none !important;
}

a:hover:not(.hidden-link), button:hover {
    opacity: 0.75;
}

textarea::placeholder {
    color: rgb(var(--bs-secondary-rgb))!important;
}

.form-check-input:checked {
    --bs-border-color: #0d6efd;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: #dfe2e7;
    --bs-dropdown-link-active-color: var(--bs-body-color);
}

/* modal */
.modal-backdrop {
    background-color: unset!important;
}

.modal.fade .modal-dialog {
    transform: scale(0.95);
    opacity: 0;
    transition: transform 0.2s ease, opacity 0.1s ease;
}

.modal.show .modal-dialog {
    transform: scale(1);
    opacity: 1;
}

/* svg */
svg {
    pointer-events: none;
}

.btn:has(svg), h3:has(svg) {
    display: inline-flex;
    align-items: center;
    padding: 0;
}

/* nav + lists */
.nav-link:focus:not(:hover) {
    border-bottom-color: transparent!important;
}

.list-group > button {
    padding: 0.25rem 0.5rem!important;
}

.list-group-item-action.active, .list-group-item-action:hover {
    background-color: var(--btn-bg-active)!important;
}

.btn:focus:not(:hover) {
    background-color: var(--bs-btn-bg);
} 

@media (max-width: 576px) {
    .offcanvas-body {
        display: flex;
        flex-direction: column;
    }
}

.avatar-small {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

.dragged-item {
    position: fixed !important;
    z-index: 999 !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15) !important;
    cursor: grab !important;
    opacity: 1!important;
}

.dragged-item * {
    cursor: grab !important;
}